---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/teams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1407438144'
      Etag:
      - '"08401136adb11453d2fa2338facff580"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"Owners","id":340003,"slug":"owners","permission":"admin","url":"https://api.github.com/teams/340003","members_url":"https://api.github.com/teams/340003/members{/member}","repositories_url":"https://api.github.com/teams/340003/repos","members_count":11,"repos_count":190,"organization":{"login":"LaunchAcademy","id":3612691,"url":"https://api.github.com/orgs/LaunchAcademy","repos_url":"https://api.github.com/orgs/LaunchAcademy/repos","events_url":"https://api.github.com/orgs/LaunchAcademy/events","members_url":"https://api.github.com/orgs/LaunchAcademy/members{/member}","public_members_url":"https://api.github.com/orgs/LaunchAcademy/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/3612691?v=2","name":"Launch
        Academy","company":null,"blog":"http://launchacademy.com","location":"Boston,
        MA","email":"hello@launchacademy.com","public_repos":89,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/LaunchAcademy","created_at":"2013-02-16T18:16:02Z","updated_at":"2014-08-07T18:35:21Z","type":"Organization"}},{"name":"Bot","id":345064,"slug":"bot","permission":"admin","url":"https://api.github.com/teams/345064","members_url":"https://api.github.com/teams/345064/members{/member}","repositories_url":"https://api.github.com/teams/345064/repos","members_count":1,"repos_count":4,"organization":{"login":"LaunchAcademy","id":3612691,"url":"https://api.github.com/orgs/LaunchAcademy","repos_url":"https://api.github.com/orgs/LaunchAcademy/repos","events_url":"https://api.github.com/orgs/Launch[...]
